*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}
/* Box 2 */

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* Search Box */

.nav-search{
  display: flex;
  width: 620px;
  height: 40px;
  border-radius: 5px;
  justify-content: space-evenly;
  margin-left: 18px;
}

.search-select{
    background-color: #F3F3F3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 0.9rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button{
    width: 45px;
    height: 40px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #febd69;
    font-size: 1.2rem;
}

.nav-search:hover { 
    border: 2px solid orange;
}

/* Language box */

/* .nav-lang{
    display: flex;
    border: none;
}

.lang-select{
    display: flex;
    background: none;
    overflow: hidden;
    
} */

/* Sign in Accounts list */

span{
    font-size: 0.7rem;
}

.nav-accs-list{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Cart */

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Panel */

.panel{
    height: 40px;
    background-color: #222F3D;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 95%;
    font-size: 0.85rem;
}

/* The Main section */

.hero-section{
    background-image: url("hero_image.jpg");
    height: 320px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg a{
    text-decoration: none;
    color: #007185;
}

.hero-msg a:hover{
    color: red;
    text-decoration: underline;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

/* shop selection */
/* box 1 */

.box{
    height: 400px;
    /* border: 2px black solid; */
    width: 23.5%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box-image1{
    height: 300px;
    background-image: url("box1_image.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content1{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content1 a{
    text-decoration: none;
    color: #007185;
    font-size: 13px;
}

.box-content1 a:hover{
    color: red;
    text-decoration: underline;
}

/* box 2 */
.box{
    height: 400px;
    /* border: 2px black solid; */
    width: 23.5%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box-image2{
    height: 300px;
    background-image: url("box2_image.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content2{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content2 a{
    text-decoration: none;
    color: #007185;
    font-size: 13px;
}

.box-content2 a:hover{
    color: red;
    text-decoration: underline;
}

/* box 3 */
.box{
    height: 400px;
    /* border: 2px black solid; */
    width: 23.5%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box-image3{
    height: 300px;
    background-image: url("box3_image.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content3{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content3 a{
    text-decoration: none;
    color: #007185;
    font-size: 13px;
}

.box-content3 a:hover{
    color: red;
    text-decoration: underline;
}

/* Box 4 */
.box{
    height: 400px;
    /* border: 2px black solid; */
    width: 23.5%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box-image4{
    height: 300px;
    background-image: url("box4_image.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content4{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content4 a{
    text-decoration: none;
    color: #007185;
    font-size: 13px;
}

.box-content4 a:hover{
    color: red;
    text-decoration: underline;
}

/* Box 5 */
.box{
    height: 400px;
    /* border: 2px black solid; */
    width: 23.5%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box-image5{
    height: 300px;
    background-image: url("box5_image.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content5{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content5 a{
    text-decoration: none;
    color: #007185;
    font-size: 13px;
}

.box-content5 a:hover{
    color: red;
    text-decoration: underline;
}

/* Box 6 */
.box{
    height: 400px;
    /* border: 2px black solid; */
    width: 23.5%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box-image6{
    height: 300px;
    background-image: url("box6_image.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content6{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content6 a{
    text-decoration: none;
    color: #007185;
    font-size: 13px;
}

.box-content6 a:hover{
    color: red;
    text-decoration: underline;
}
/* Box 7 */
.box{
    height: 400px;
    /* border: 2px black solid; */
    width: 23.5%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box-image7{
    height: 300px;
    background-image: url("box7_image.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content7{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content7 a{
    text-decoration: none;
    color: #007185;
    font-size: 13px;
}

.box-content7 a:hover{
    color: red;
    text-decoration: underline;
}
/* Box 8 */
.box{
    height: 400px;
    /* border: 2px black solid; */
    width: 23.5%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box-image8{
    height: 300px;
    background-image: url("box8_image.jpg");
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content8{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content8 a{
    text-decoration: none;
    color: #007185;
    font-size: 13px;
}

.box-content8 a:hover{
    color: red;
    text-decoration: underline;
}

/* Footer */
footer{
    margin-top: 15px;
}

.foot-panel1{
    /* color: white; */
    background-color: #38445c;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem; 
}

.outter-footer a{
    text-decoration: none;
    color: white;
}

.foot-panel1:hover{
    background-color: #38445cd4;
}

/* Foot panel 2 */
.foot-panel2{
    background-color: #222F3D;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 50px;
}

ul a{
    display: block;
    text-decoration: none;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 10px;
}

/* Footer-image */
.foot-panel3{
    height: 70px;
    background-color: #222F3D;
    border-top: 1px rgba(128, 128, 128, 0.381) solid;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.footer-logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 100px;
    height: 50px;
}



